<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h3>TP-TECH</h3>
                    <p>
                        Your trusted source for tech products<br>
                        <strong>Phone:</strong> +1 234 567 8900<br>
                        <strong>Email:</strong> info@tptech.com<br>
                    </p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="/home/category">Categories</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="/home/products">Products</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="/home/contact">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Categories</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Laptops</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Smartphones</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Accessories</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Gaming</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>Subscribe to our newsletter to receive updates about new products and special offers!</p>
                <form action="" method="post">
                    <input type="email" name="email">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="copyright">
        &copy; Copyright <strong><span>TP-TECH</span></strong>. All Rights Reserved
    </div>
</div>
