<div class="container-fluid aos-init aos-animate" data-aos="fade-up">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h3 style="color:white;">WELCOME </h3>
            <h2>Shop through our branches all over Egypt.</h2>
            <div><a href="#services" class="btn-get-started scrollto">Get Started</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">
            <img src="~/assets/img/portfolio/P2.jpg" style="border-radius: 50px;" class="img-fluid animated" alt="">
        </div>
    </div>
</div>
